body{
	background-color: #555;
	color: white;
}

h1{
	position: absolute;
	left: 50%;
	right: 50%;
	width: 100%;
}

main{
	position: absolute;
	top: 15%;
}

/*Mudar o cor do texto dos input*/
input{
	color: black;
}

table {
    border-spacing: 15px;
    border-collapse: separate;
}

.sessao-pacientes{
	width: 100%;
}

.sessao-formulario{
	width: 100%;
}

.principal {
    display: flex;
    padding: 3%;
}